@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800&display:swap);
@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900&display:swap);
:root {
  --heading-font-family: "Dosis";
  --body-font-family: "Urbanist";
  --font-line-height: 150%;
  --font-size-h1: 40px;
  --font-size-h2: 32px;
  --font-size-h3: 20px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-body-large: 16px;
  --font-size-body-medium: 14px;
  --font-size-body-small: 10px;
  --font-size-body-xsmall: 8px;
  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --heading-h1: var(--heading-font-family) var(--font-size-h1) var(--font-weight-700) var(--font-line-height);
  --heading-h2: var(--heading-font-family) var(--font-size-h2) var(--font-weight-700) var(--font-line-height);
  --heading-h3: var(--heading-font-family) var(--font-size-h3) var(--font-weight-700) var(--font-line-height);
  --heading-h4: var(--heading-font-family) var(--font-size-h4) var(--font-weight-700) var(--font-line-height);
  --heading-h5: var(--heading-font-family) var(--font-size-h5) var(--font-weight-700) var(--font-line-height);
  --body-xlarge: var(--body-font-family) var(--font-size-body-large) var(--font-weight-700) var(--font-line-height);
  --body-large: var(--body-font-family) var(--font-size-body-large) var(--font-weight-700) var(--font-line-height);
  --body-medium: var(--body-font-family) var(--font-size-body-medium) var(--font-weight-700) var(--font-line-height);
  --body-small: var(--body-font-family) var(--font-size-body-small) var(--font-weight-700) var(--font-line-height);
  --body-xsmall: var(--body-font-family) var(--font-size-body-xsmall) var(--font-weight-700) var(--font-line-height);
  --color-primary-base: rgb(237, 178, 88);
  --color-primary-50: rgb(254, 249, 242);
  --color-primary-100: rgb(251, 236, 214);
  --color-primary-200: rgb(247, 220, 180);
  --color-primary-300: rgb(243, 205, 147);
  --color-primary-400: rgb(239, 186, 107);
  --color-primary-500: rgb(234, 165, 61);
  --color-primary-600: rgb(220, 141, 24);
  --color-primary-700: rgb(188, 121, 20);
  --color-primary-800: rgb(146, 94, 16);
  --color-primary-900: rgb(81, 52, 9);
  --color-secondary-base: rgb(19, 18, 23);
  --color-secondary-50: rgb(250, 250, 251);
  --color-secondary-100: rgb(239, 238, 242);
  --color-secondary-200: rgb(225, 223, 230);
  --color-secondary-300: rgb(212, 210, 220);
  --color-secondary-400: rgb(196, 193, 207);
  --color-secondary-500: rgb(179, 176, 193);
  --color-secondary-600: rgb(160, 155, 177);
  --color-secondary-700: rgb(137, 132, 159);
  --color-secondary-800: rgb(107, 101, 129);
  --color-secondary-900: rgb(59, 56, 72);
  --color-tertiary-base: rgb(24, 23, 28);
  --color-tertiary-50: rgb(245, 245, 247);
  --color-tertiary-100: rgb(239, 238, 241);
  --color-tertiary-200: rgb(224, 223, 229);
  --color-tertiary-300: rgb(211, 209, 217);
  --color-tertiary-400: rgb(196, 194, 205);
  --color-tertiary-500: rgb(179, 176, 190);
  --color-tertiary-600: rgb(163, 159, 176);
  --color-tertiary-700: rgb(134, 130, 152);
  --color-tertiary-800: rgb(109, 105, 128);
  --color-tertiary-900: rgb(62, 59, 72);
  --color-grayscale-base: rgb(107, 107, 107);
  --color-grayscale-50: rgb(246, 246, 246);
  --color-grayscale-100: rgb(239, 239, 239);
  --color-grayscale-200: rgb(224, 224, 224);
  --color-grayscale-300: rgb(210, 210, 210);
  --color-grayscale-400: rgb(196, 196, 196);
  --color-grayscale-500: rgb(178, 178, 178);
  --color-grayscale-600: rgb(161, 161, 161);
  --color-grayscale-700: rgb(133, 133, 133);
  --color-grayscale-800: rgb(108, 108, 108);
  --color-grayscale-900: rgb(61, 61, 61);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray: rgb(15, 14, 18);
  --color-green-base: rgb(69, 128, 22);
  --color-green-50: rgb(237, 250, 226);
  --color-green-100: rgb(223, 246, 203);
  --color-green-200: rgb(192, 238, 155);
  --color-green-300: rgb(160, 229, 103);
  --color-green-400: rgb(124, 219, 46);
  --color-green-500: rgb(109, 200, 34);
  --color-green-600: rgb(99, 181, 31);
  --color-green-700: rgb(81, 149, 26);
  --color-green-800: rgb(66, 121, 21);
  --color-green-900: rgb(38, 69, 12);
  --color-red-base: rgb(230, 49, 38);
  --color-red-50: rgb(254, 244, 244);
  --color-red-100: rgb(253, 235, 234);
  --color-red-200: rgb(250, 216, 214);
  --color-red-300: rgb(248, 196, 193);
  --color-red-400: rgb(245, 175, 171);
  --color-red-500: rgb(243, 157, 152);
  --color-red-600: rgb(240, 129, 123);
  --color-red-700: rgb(234, 83, 75);
  --color-red-800: rgb(205, 33, 24);
  --color-red-900: rgb(122, 20, 14);
  --gradient-card-empty: rgb(75, 75, 87);
  --gradient-add-button: rgba(137, 132, 159, 0.3);
  --element-circle-buttons-stroke: rgb(45, 43, 51);
  --element-popup-stroke: rgb(60, 58, 66);
  --element-bottom-sheet-background: rgb(19, 18, 23)
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--color-white);
  line-height: 1;
  font-family: Urbanist;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Urbanist;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor
}
::after,
::before {
  --tw-content: ''
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Urbanist,sans-serif;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}
body {
  margin: 0;
  line-height: inherit
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}
a {
  color: inherit;
  text-decoration: inherit
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}
button,
select {
  text-transform: none
}
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}
:-moz-focusring {
  outline: auto
}
:-moz-ui-invalid {
  box-shadow: none
}
progress {
  vertical-align: baseline
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
summary {
  display: list-item
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}
fieldset {
  margin: 0;
  padding: 0
}
legend {
  padding: 0
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}
dialog {
  padding: 0
}
textarea {
  resize: vertical
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}
[role="button"],
button {
  cursor: pointer
}
:disabled {
  cursor: default
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}
img,
video {
  max-width: 100%;
  height: auto
}
[hidden] {
  display: none
}
*,
::after,
::before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
::-ms-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
.visible {
  visibility: visible
}
.static {
  position: static
}
.fixed {
  position: fixed
}
.absolute {
  position: absolute
}
.relative {
  position: relative
}
.bottom-0 {
  bottom: 0
}
.right-0 {
  right: 0
}
.top-0 {
  top: 0
}
.z-30 {
  z-index: 30
}
.col-span-2 {
  grid-column: span 2/span 2
}
.mx-14 {
  margin-left: 3.5rem;
  margin-right: 3.5rem
}
.mb-2 {
  margin-bottom: .5rem
}
.mb-24 {
  margin-bottom: 6rem
}
.mb-3 {
  margin-bottom: .75rem
}
.mb-4 {
  margin-bottom: 1rem
}
.mb-5 {
  margin-bottom: 1.25rem
}
.mb-6 {
  margin-bottom: 1.5rem
}
.mb-\[3\.1rem\] {
  margin-bottom: 3.1rem
}
.ml-2 {
  margin-left: .5rem
}
.ml-2\.5 {
  margin-left: .625rem
}
.ml-6 {
  margin-left: 1.5rem
}
.mt-3 {
  margin-top: .75rem
}
.mt-4 {
  margin-top: 1rem
}
.mt-5 {
  margin-top: 1.25rem
}
.mt-6 {
  margin-top: 1.5rem
}
.mt-8 {
  margin-top: 2rem
}
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1
}
.block {
  display: block
}
.inline-block {
  display: inline-block
}
.flex {
  display: flex
}
.\!inline-flex {
  display: inline-flex!important
}
.inline-flex {
  display: inline-flex
}
.grid {
  display: grid
}
.\!hidden {
  display: none!important
}
.hidden {
  display: none
}
.\!h-5 {
  height: 1.25rem!important
}
.h-20 {
  height: 5rem
}
.h-28 {
  height: 7rem
}
.h-5 {
  height: 1.25rem
}
.h-8 {
  height: 2rem
}
.h-\[186px\] {
  height: 186px
}
.min-h-14 {
  min-height: 3.5rem
}
.min-h-\[100px\] {
  min-height: 100px
}
.min-h-\[170px\] {
  min-height: 170px
}
.min-h-\[186px\] {
  min-height: 186px
}
.min-h-\[50px\] {
  min-height: 50px
}
.\!w-5 {
  width: 1.25rem!important
}
.w-36 {
  width: 9rem
}
.w-5 {
  width: 1.25rem
}
.w-8 {
  width: 2rem
}
.w-\[150px\] {
  width: 150px
}
.w-\[160px\] {
  width: 160px
}
.w-\[188px\] {
  width: 188px
}
.w-\[73\%\] {
  width: 73%
}
.w-\[80\%\] {
  width: 80%
}
.w-full {
  width: 100%
}
.w-screen {
  width: 100vw
}
.min-w-\[188px\] {
  min-width: 188px
}
.max-w-72 {
  max-width: 18rem
}
.max-w-96 {
  max-width: 24rem
}
.flex-none {
  flex: none
}
.rotate-180 {
  --tw-rotate: 180deg;
  -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform {
  -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-pointer {
  cursor: pointer
}
.resize {
  resize: both
}
.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr))
}
.flex-row {
  flex-direction: row
}
.flex-col {
  flex-direction: column
}
.flex-wrap {
  flex-wrap: wrap
}
.items-start {
  align-items: flex-start
}
.items-center {
  align-items: center
}
.justify-start {
  justify-content: flex-start
}
.justify-center {
  justify-content: center
}
.justify-between {
  justify-content: space-between
}
.justify-around {
  justify-content: space-around
}
.justify-evenly {
  justify-content: space-evenly
}
.gap-1 {
  gap: .25rem
}
.gap-2 {
  gap: .5rem
}
.gap-3 {
  gap: .75rem
}
.gap-4 {
  gap: 1rem
}
.gap-5 {
  gap: 1.25rem
}
.gap-6 {
  gap: 1.5rem
}
.gap-x-0 {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0
}
.gap-x-2 {
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.gap-x-2\.5 {
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.gap-x-4 {
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem
}
.gap-x-8 {
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem
}
.gap-y-0 {
  row-gap: 0
}
.gap-y-1 {
  row-gap: .25rem
}
.gap-y-2 {
  row-gap: .5rem
}
.gap-y-2\.5 {
  row-gap: .625rem
}
.gap-y-3 {
  row-gap: .75rem
}
.gap-y-5 {
  row-gap: 1.25rem
}
.gap-y-6 {
  row-gap: 1.5rem
}
.self-start {
  align-self: flex-start
}
.overflow-hidden {
  overflow: hidden
}
.rounded-2xl {
  border-radius: 1rem
}
.rounded-\[30px\] {
  border-radius: 30px
}
.rounded-full {
  border-radius: 9999px
}
.rounded-lg {
  border-radius: .5rem
}
.rounded-md {
  border-radius: .375rem
}
.rounded-xl {
  border-radius: .75rem
}
.border-2 {
  border-width: 2px
}
.border-\[1px\] {
  border-width: 1px
}
.border-b-2 {
  border-bottom-width: 2px
}
.border-b-\[1px\] {
  border-bottom-width: 1px
}
.border-t-\[1px\] {
  border-top-width: 1px
}
.border-solid {
  border-style: solid
}
.border-\[\#252A35\] {
  --tw-border-opacity: 1;
  border-color: rgb(37 42 53 / var(--tw-border-opacity))
}
.border-secondary-900 {
  --tw-border-opacity: 1;
  border-color: rgb(59 56 72 / var(--tw-border-opacity))
}
.border-secondary-900\/50 {
  border-color: rgb(59 56 72 / .5)
}
.border-tertiary-900 {
  --tw-border-opacity: 1;
  border-color: rgb(62 59 72 / var(--tw-border-opacity))
}
.border-opacity-50 {
  --tw-border-opacity: 0.5
}
.bg-\[\#1888ED1A\] {
  background-color: #1888ED1A
}
.bg-\[\#1FBCEE1A\] {
  background-color: #1fbCEE1A
}
.bg-\[\#704EFF1A\] {
  background-color: #704EFF1A
}
.bg-\[\#E51E681A\] {
  background-color: #e51E681A
}
.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(237 178 88 / var(--tw-bg-opacity))
}
.bg-tertiary {
  --tw-bg-opacity: 1;
  background-color: rgb(24 23 28 / var(--tw-bg-opacity))
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover
}
.p-\[0\.46rem\] {
  padding: .46rem
}
.px-1 {
  padding-left: .25rem;
  padding-right: .25rem
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}
.px-2 {
  padding-left: .5rem;
  padding-right: .5rem
}
.px-2\.5 {
  padding-left: .625rem;
  padding-right: .625rem
}
.px-3 {
  padding-left: .75rem;
  padding-right: .75rem
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}
.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}
.py-2\.5 {
  padding-top: .625rem;
  padding-bottom: .625rem
}
.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}
.pb-12 {
  padding-bottom: 3rem
}
.pb-3\.5 {
  padding-bottom: .875rem
}
.pb-4 {
  padding-bottom: 1rem
}
.pb-5 {
  padding-bottom: 1.25rem
}
.pb-6 {
  padding-bottom: 1.5rem
}
.pl-3 {
  padding-left: .75rem
}
.pr-12 {
  padding-right: 3rem
}
.pr-4 {
  padding-right: 1rem
}
.pt-3\.5 {
  padding-top: .875rem
}
.pt-4 {
  padding-top: 1rem
}
.pt-6 {
  padding-top: 1.5rem
}
.text-left {
  text-align: left
}
.text-center {
  text-align: center
}
.font-serif {
  font-family: Dosis,sans-serif
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}
.text-\[0\.9em\] {
  font-size: .9em
}
.text-\[12px\] {
  font-size: 12px
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}
.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}
.text-xs {
  font-size: .75rem;
  line-height: 1rem
}
.font-bold {
  font-weight: 700
}
.font-medium {
  font-weight: 500
}
.font-semibold {
  font-weight: 600
}
.uppercase {
  text-transform: uppercase
}
.tracking-wide {
  letter-spacing: .025em
}
.tracking-widest {
  letter-spacing: .1em
}
.text-grayscale-300 {
  --tw-text-opacity: 1;
  color: rgb(210 210 210 / var(--tw-text-opacity))
}
.text-primary {
  --tw-text-opacity: 1;
  color: rgb(237 178 88 / var(--tw-text-opacity))
}
.text-secondary-600 {
  --tw-text-opacity: 1;
  color: rgb(160 155 177 / var(--tw-text-opacity))
}
.text-secondary-800 {
  --tw-text-opacity: 1;
  color: rgb(107 101 129 / var(--tw-text-opacity))
}
.text-tertiary-600 {
  --tw-text-opacity: 1;
  color: rgb(163 159 176 / var(--tw-text-opacity))
}
.text-tertiary-700 {
  --tw-text-opacity: 1;
  color: rgb(134 130 152 / var(--tw-text-opacity))
}
.text-tertiary-800 {
  --tw-text-opacity: 1;
  color: rgb(109 105 128 / var(--tw-text-opacity))
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
.opacity-0 {
  opacity: 0
}
.outline {
  outline-style: solid
}
.blur {
  --tw-blur: blur(8px);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.brightness-50 {
  --tw-brightness: brightness(.5);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.grayscale {
  --tw-grayscale: grayscale(100%);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.transition {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.transition-colors {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(59 56 72 / var(--tw-bg-opacity));
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.nav-button svg path {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.nav-button--xl {
  height: 2.75rem;
  width: 2.75rem
}
.nav-button--xl svg {
  height: 1.25rem;
  width: 1.25rem
}
.nav-button--md {
  height: 2rem;
  width: 2rem
}
.nav-button--md svg {
  height: .875rem;
  width: .875rem
}
.nav-button:hover {
  background-color: var(--color-primary-base)
}
.nav-button:hover svg path {
  stroke: var(--color-white)
}
.nav-button:active {
  background-color: var(--color-primary-700)
}
.nav-button:active svg path {
  stroke: var(--color-white)
}
.swiper-button-disabled {
  opacity: .5;
  pointer-events: none
}
.button-primary {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;
  color: var(--color-primary-900);
  font-family: var(--body-font-family);
  font-size: var(--body-large);
  font-weight: var(--font-weight-700);
  text-align: center;
  border: 1px solid var(--color-primary-300);
  border-radius: 2.5rem;
  background: var(--color-secondary-900)
}
.button-primary span {
  position: relative;
  z-index: 2
}
.button-primary::after {
  content: "";
  transition: all .3s;
  position: absolute;
  inset: 0;
  border-radius: 2.5rem;
  background: linear-gradient(90deg,rgba(176,127,52,.5) 52.5%,rgba(249,200,136,.5) 100%),linear-gradient(90deg,#f9c888,#7a551e 100%)
}
.button-primary::before {
  content: "";
  display: block;
  border: 1px solid var(--color-secondary-900);
  border-radius: 2.5rem;
  position: absolute;
  inset: -5px;
  transition: all .3s
}
.button-primary[disabled] {
  pointer-events: none;
  border-color: var(--color-secondary-800);
  color: var(--color-secondary-800);
  background: var(--color-secondary-900)
}
.button-primary[disabled]::after {
  opacity: 0
}
.button-primary:active::before {
  content: "";
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0
}
.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-radius: .5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(59 56 72 / var(--tw-bg-opacity));
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s
}
.button-secondary:hover {
  background-color: rgb(237 178 88 / .8);
  --tw-shadow-color: rgb(237 178 88 / 0.5);
  --tw-shadow: var(--tw-shadow-colored);
  box-shadow: var(--tw-shadow-color) 0 8px 24px
}
.button-secondary:active {
  background-color: rgb(237 178 88 / .5)
}
.button-secondary svg path {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms;
  fill: #fff
}
.button-border {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-radius: .5rem;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(62 59 72 / var(--tw-border-opacity));
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s
}
.button-border:hover {
  border-color: rgb(237 178 88 / .8)
}
.button-border:active {
  border-color: rgb(237 178 88 / .8);
  background-color: rgb(237 178 88 / .1)
}
.button-border svg path {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms;
  fill: #fff
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: .75rem!important;
  width: 100%;
  display: block;
  padding: .625rem .9375rem;
  background-color: var(--color-tertiary-base);
  caret-color: inherit;
  font-size: .875rem;
  line-height: 1.5;
  color: var(--color-white);
  transition: all .3s;
  min-height: 3.125rem;
  border: 1px solid transparent;
  outline: 0
}
.input::-webkit-input-placeholder {
  color: var(--color-tertiary-500)
}
.input:-ms-input-placeholder {
  color: var(--color-tertiary-500)
}
.input::-ms-input-placeholder {
  color: var(--color-tertiary-500)
}
.input::placeholder {
  color: var(--color-tertiary-500)
}
.input:hover {
  border-color: var(--color-tertiary-900)
}
.input:focus {
  border-color: var(--color-tertiary-900);
  box-shadow: inset 0 0 9.4px 0 rgba(196,193,207,.2)
}
.input.input-error {
  border-color: var(--color-red-base)
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
.search-block {
  position: relative
}
.search-block__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.search-block .button-delete {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.search-block .button-delete svg path {
  transition: all .3s
}
.search-block .button-delete:hover svg path {
  fill: var(--color-red-base)
}
.search-block .input {
  font-weight: 700;
  padding: .625rem 2.5rem
}
textarea.input {
  resize: none;
  padding: 0 0
}
label {
  display: flex;
  align-items: center
}
.checkbox-input {
  position: absolute;
  left: 9999px;
  opacity: 0;
  z-index: -999;
  pointer-events: none;
  display: none
}
input:checked~span {
  border-color: var(--color-primary-base);
  background: var(--color-primary-base)
}
input:checked~span:after {
  left: 20px
}
input:checked~span:active::after {
  left: 20px
}
input:not(:checked)~span:active {
  background: #a3a3a3
}
.toggle_background {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
  border: 2px solid var(--color-tertiary-900);
  border-radius: 2em;
  transition: all .3s
}
.toggle_background:hover {
  border-color: rgb(237 178 88 / .5);
  background-color: rgb(237 178 88 / .75)
}
.toggle_background::after {
  content: "";
  display: flex;
  position: absolute;
  width: .625rem;
  height: .625rem;
  left: 4px;
  top: 5px;
  border-radius: 50%;
  background: var(--color-tertiary-900);
  transition: all .3s
}
.tabs-navigation {
  display: flex;
  align-items: center;
  gap: .5rem
}
.tabs-navigation .tabs-button {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms;
  border: 1px solid var(--color-secondary-900);
  border-radius: 1.5625rem;
  background: linear-gradient(180deg,#2b2934 .109%,#141318 100.548%);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  color: var(--color-secondary-500);
  font: var(--body-medium);
  font-weight: var(--font-weight-600);
  text-align: center;
  min-height: 2.625rem;
  min-width: 150px;
  padding: .375rem 1rem;
  overflow: hidden
}
.tabs-navigation .tabs-button svg path {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.tabs-navigation .tabs-button:hover {
  border-color: var(--color-primary-900);
  color: var(--color-white)
}
.tabs-navigation .tabs-button:hover.tabs-button--sports svg path {
  fill: var(--color-white)
}
.tabs-navigation .tabs-button:hover.tabs-button--casino svg path {
  stroke: var(--color-white)
}
.tabs-navigation .tabs-button.active {
  color: var(--color-primary-base);
  border-color: var(--color-primary-900);
  background: radial-gradient(100% 100% at 50% 0,#634828,#000 40%)
}
.tabs-navigation .tabs-button.active.tabs-button--sports svg path {
  fill: var(--color-primary-base)
}
.tabs-navigation .tabs-button.active.tabs-button--casino svg path {
  stroke: var(--color-primary-base)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.switcher-lang__list::-webkit-scrollbar {
  display: none
}
body,
html {
  background-color: var(--color-secondary-base)
}
.page {
  padding: .75rem 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem
}
.main-sidebar {
  position: relative
}
.main-sidebar__footer ul {
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.main-sidebar--left {
  background-color: var(--color-secondary-base);
  min-height: 100svh;
  border-right-width: 2px;
  border-style: solid;
  border-color: rgb(59 56 72 / var(--tw-border-opacity));
  --tw-border-opacity: 0.5;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}
.main-sidebar__menu ul {
  display: flex;
  flex-direction: column;
  gap: .25rem
}
.main-sidebar__menu ul li a,
.main-sidebar__menu ul li button {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms;
  width: 100%;
  display: flex;
  padding: 10px .625rem;
  border-radius: .5rem
}
.main-sidebar__menu ul li a span,
.main-sidebar__menu ul li button span {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.main-sidebar__menu ul li a.active span,
.main-sidebar__menu ul li button.active span {
  color: #fff!important
}
.main-sidebar__menu ul li a.active svg:not(.arrow) path,
.main-sidebar__menu ul li button.active svg:not(.arrow) path {
  fill: var(--color-primary-base)
}
.main-sidebar__menu ul li a:not(.active):hover .arrow path,
.main-sidebar__menu ul li button:not(.active):hover .arrow path {
  stroke: #fff
}
.main-sidebar__menu ul li a:not(.active):hover svg:not(.arrow) path,
.main-sidebar__menu ul li button:not(.active):hover svg:not(.arrow) path {
  fill: #fff
}
.main-sidebar__menu ul li a:not(.active):hover svg:not(.hover-stroke) path,
.main-sidebar__menu ul li button:not(.active):hover svg:not(.hover-stroke) path {
  fill: #fff
}
.main-sidebar__menu ul li a:not(.active):hover svg.hover-stroke path.check,
.main-sidebar__menu ul li button:not(.active):hover svg.hover-stroke path.check {
  fill: #fff
}
.main-sidebar__menu ul li a:not(.active):active,
.main-sidebar__menu ul li button:not(.active):active {
  background-color: var(--color-tertiary-900)
}
.main-sidebar__menu ul li a:hover,
.main-sidebar__menu ul li button:hover {
  background-color: var(--color-tertiary-base)
}
.main-sidebar__menu ul li a:hover span,
.main-sidebar__menu ul li button:hover span {
  color: #fff
}
.main-sidebar__menu ul li a:hover .arrow path,
.main-sidebar__menu ul li button:hover .arrow path {
  stroke: #fff
}
.main-sidebar__menu ul li a .arrow,
.main-sidebar__menu ul li button .arrow {
  transition: all .3s
}
.main-sidebar__menu ul li a .arrow path,
.main-sidebar__menu ul li button .arrow path {
  stroke: var(--color-tertiary-600)
}
.main-sidebar__menu ul li a .roadmap-svg path:last-child,
.main-sidebar__menu ul li button .roadmap-svg path:last-child {
  stroke: var(--color-secondary-base)!important
}
.main-sidebar__menu ul li a svg path,
.main-sidebar__menu ul li button svg path {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.main-sidebar__menu .menu-dropdown [data-toggle]:active {
  background-color: var(--color-tertiary-900)
}
.main-sidebar__menu .menu-dropdown [data-toggle].active {
  background-color: var(--color-tertiary-base)
}
.main-sidebar__menu .menu-dropdown [data-toggle].active span {
  color: #fff
}
.main-sidebar__menu .menu-dropdown [data-toggle].active svg:not(.arrow) path {
  fill: #fff
}
.main-sidebar__menu .menu-dropdown [data-toggle].active .arrow {
  transition: all .3s;
  -webkit-transform: rotate(0)!important;
  transform: rotate(0)!important
}
.main-sidebar__menu .menu-dropdown [data-toggle].active .arrow path {
  stroke: #fff
}
.main-sidebar__menu .menu-dropdown [data-dropdown-menu] {
  display: none
}
.main-sidebar__menu .menu-dropdown [data-dropdown-menu].show {
  display: block
}
.slider-pagination-1 .swiper-pagination {
  display: inline-flex;
  align-items: center;
  gap: .5rem
}
.slider-pagination-1 .swiper-pagination-lock {
  display: none
}
.slider-pagination-1 .swiper-pagination-bullet {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms;
  cursor: pointer;
  border-radius: calc(8*100vw/var(--base-vw));
  width: calc(8*100vw/var(--base-vw));
  height: calc(6*100vw/var(--base-vw));
  background-color: var(--color-secondary-900)
}
.slider-pagination-1 .swiper-pagination-bullet-active {
  width: calc(20*100vw/var(--base-vw));
  background-color: var(--color-primary-base)
}
.user-header-info .balance-list {
  position: absolute;
  z-index: 40;
  width: 100%;
  border-radius: 8px;
  min-width: 20rem;
  right: 0;
  top: 100%;
  border: 1px solid var(--color-tertiary-900);
  background-color: var(--color-secondary-base);
  padding: 1rem;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: auto
}
.user-header-info .balance-list.show {
  top: calc(100% + 20px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto
}
.user-header-info .balance-list__currency-list {
  display: flex;
  flex-direction: column;
  gap: .75rem
}
.user-header-info .balance-list__currency-list .currency-list__currency {
  width: 100%;
  border-radius: .75rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(62 59 72 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(24 23 28 / var(--tw-bg-opacity));
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.user-header-info .balance-list__currency-list .currency-list__currency:hover {
  --tw-border-opacity: 1;
  border-color: rgb(237 178 88 / var(--tw-border-opacity));
  background-color: rgb(62 59 72 / .5)
}
.user-header-info .balance-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  border-radius: .5rem;
  -webkit-padding-start: 1rem;
  padding-inline-start: 1rem;
  -webkit-padding-end: .5rem;
  padding-inline-end: .5rem;
  font-weight: 600;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms;
  min-height: 2.625rem;
  border: 1px solid var(--color-secondary-900);
  background: linear-gradient(180deg,#2b2934 .109%,#141318 100.548%)
}
.user-header-info .balance-toggle.active .arrow {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.user-header-info .balance-toggle span {
  display: inline-flex;
  align-items: center
}
.user-header-info .balance-toggle .arrow {
  margin-left: 6px;
  transition: all .3s
}
.game-name {
  transition: all .3s
}
.game img {
  transition: all .3s
}
.live-casino img {
  transition: all .3s
}
.switcher-lang__list {
  max-height: 15.625rem;
  overflow: auto;
  display: none
}
.switcher-lang__list.show {
  display: block
}
.switcher-lang__toggle svg {
  transition: all .3s
}
.switcher-lang__toggle.active {
  background-color: rgb(62 59 72 / .5)
}
.switcher-lang__toggle.active svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.promo-cards__slider .slide img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: contain;
  object-fit: contain;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.home-row--random-game {
  background: linear-gradient(180deg,#2b2934 -70.891%,#141318 50.548%)
}
.banner {
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}
.banner .slider {
  position: absolute;
  min-height: 7.8125rem;
  top: 10%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease,-webkit-transform 1s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center
}
.banner .slider .item {
  position: absolute;
  width: var(--item-width);
  height: var(--item-height);
  -webkit-transform: rotateY(calc((var(--position) - 1) * 360deg / var(--quantity))) translateZ(calc(var(--radius))) scale(.8);
  transform: rotateY(calc((var(--position) - 1) * 360deg / var(--quantity))) translateZ(calc(var(--radius))) scale(.8);
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease
}
.banner .slider .item button {
  width: 100%;
  height: 100%
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hover\:-translate-y-1:hover {
  --tw-translate-y: -0.25rem;
  -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.hover\:bg-secondary-900\/25:hover {
  background-color: rgb(59 56 72 / .25)
}
.hover\:bg-tertiary-900\/50:hover {
  background-color: rgb(62 59 72 / .5)
}
.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(237 178 88 / var(--tw-text-opacity))
}
.hover\:text-primary-600:hover {
  --tw-text-opacity: 1;
  color: rgb(220 141 24 / var(--tw-text-opacity))
}
.hover\:shadow-sm:hover {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}
.group:hover .group-hover\:fill-white {
  fill: #fff
}
.group:hover .group-hover\:\!stroke-transparent {
  stroke: transparent!important
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:480px) {
  .user-header-info {
    position: relative
  }
}
@media (min-width:40em) {
  .banner {
    min-height: 15.625rem
  }
  .banner .slider {
    -webkit-transform: perspective(1000px) rotateX(-6deg) rotateY(var(--current-rotation,0deg));
    transform: perspective(1000px) rotateX(-6deg) rotateY(var(--current-rotation,0deg))
  }
}
@media (min-width:640px) {
  .sm\:mt-3 {
    margin-top: .75rem
  }
  .sm\:block {
    display: block
  }
  .sm\:\!flex {
    display: flex!important
  }
  .sm\:\!hidden {
    display: none!important
  }
  .sm\:hidden {
    display: none
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
  }
  .sm\:px-3 {
    padding-left: .75rem;
    padding-right: .75rem
  }
  .sm\:py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
  }
  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}
@media (min-width:1024px) {
  .wrapper-main {
    display: grid;
    grid-template-columns: 65px calc(100% - 65px)
  }
  .show-sidebar-left .wrapper-main {
    grid-template-columns: minmax(200px,252px) calc(100% - 252px)
  }
  .main-sidebar--left:not(.show) {
    padding: 1.5rem .625rem
  }
  .main-sidebar--left:not(.show) .main-sidebar__footer .button span {
    display: none
  }
  .main-sidebar--left:not(.show) [data-dropdown-menu] {
    margin-left: 0
  }
  .main-sidebar--left:not(.show) [data-dropdown-menu] a {
    align-items: center;
    justify-content: center
  }
  .main-sidebar--left:not(.show) .main-sidebar__header {
    flex-direction: column-reverse;
    gap: 1rem
  }
  .main-sidebar--left:not(.show) [data-toggle-sidebar] {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
  .main-sidebar--left:not(.show) .menu-caption {
    display: none
  }
  .main-sidebar--left:not(.show) .main-sidebar__logo span {
    display: none
  }
  .main-sidebar--left:not(.show) .menu ul li span {
    display: none
  }
  .main-sidebar--left:not(.show) .menu ul li .arrow {
    display: none
  }
  .lg\:\!flex {
    display: flex!important
  }
  .lg\:hidden {
    display: none
  }
  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6,minmax(0,1fr))
  }
  .lg\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem
  }
}
@media (min-width:1440px) {
  :root {
    --base-vw: 1920
  }
}
@media (max-width:1440px) {
  :root {
    --base-vw: 1440
  }
}
@media (max-width:1024px) {
  :root {
    --base-vw: 1024
  }
  .main-sidebar--left {
    position: fixed;
    z-index: 40;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    pointer-events: none;
    min-width: 20rem;
    overflow: auto;
    height: 100%;
    transition: all .3s
  }
  .menu-open .main-sidebar--left {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    pointer-events: auto
  }
}
@media screen and (max-width:1023px) {
  .banner .slider .item {
    -webkit-transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 2deg)) translateZ(150px) scale(.8);
    transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 2deg)) translateZ(150px) scale(.8)
  }
}
@media (max-width:768px) {
  :root {
    --base-vw: 768
  }
}
@media screen and (max-width:767px) {
  .banner .slider .item {
    -webkit-transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 1deg)) translateZ(150px) scale(.8);
    transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 1deg)) translateZ(150px) scale(.8)
  }
}
@media (max-width:40em) {
  .banner {
    min-height: 13.625rem
  }
  .banner .slider {
    -webkit-transform: perspective(1000px) rotateX(-4.5deg) rotateY(var(--current-rotation,0deg));
    transform: perspective(1000px) rotateX(-4.5deg) rotateY(var(--current-rotation,0deg))
  }
}
@media (max-width:480px) {
  :root {
    --base-vw: 480
  }
  .user-header-info .balance-list {
    width: 100%;
    top: 80px!important
  }
}
@media (max-width:420px) {
  :root {
    --base-vw: 420
  }
}
@media (any-hover:hover) {
  .button-primary:hover {
    border-color: var(--color-secondary-800);
    color: var(--color-secondary-800);
    background: var(--color-secondary-900)
  }
  .button-primary:hover::after {
    opacity: 0
  }
  .slider-pagination-1 .swiper-pagination-bullet:hover {
    background-color: var(--color-primary-300)
  }
  .game:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .game:hover .game-name {
    color: var(--color-primary-base)
  }
  .live-casino:hover img {
    opacity: .8
  }
  .promo-cards__slider .slide:hover img {
    opacity: .8
  }
}